body,html{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #222222;
}
.videosHolder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.videosHolder video{
    width: 40%;
    margin: 5%;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 15px;
}
.options{
    position: fixed;
    top: calc(100vh - 100px);
    left: 0px;
    height: 100px;
    width: 100vw;
    box-shadow: 0px 0px 10px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.options span{
    padding: 15px;
    margin: 15px;
    border-radius: 50px;
    background-color: #008eff;
    color: #ffffff;
}