#offer{
    height: 80px;
    width: 99%;
    border: none;
    outline: none;
    border-radius: 15px;
}
#answer{
    height: 80px;
    width: 99%;
    border: none;
    outline: none;
    border-radius: 15px;
}
.inputs{
    position: absolute;
    top: 0;
    left: 0;
    width: 98.6%;
    height: 100px;
    background-color: #001aff;
    display: flex;
    flex-direction: row;
    padding: 0.7%;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .input{
      padding: 0.5%;
      background-color: #ffffff;
      width: 48%;
      border-radius: 15px;
  }
  .input:last-child{
      margin-left: 2%;
  }
  #local{
      border: 5px solid #000000;
      width: 300px;
      height: 200px;
      position: absolute;
      top: 18%;
      left: 0%;
      outline: none;
      border-radius: 15px;
  }
.button{
    padding: 7.5px;
    border: 2px solid #001aff;
    color: #ffffff;
    background-color: #001aff;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: large;
    outline: none;
} 
#remote{
     border: 5px solid #000000;
      width: 900px;
      height: 500px;
      position: absolute;
      top: 21%;
      left: 15%;
      outline: none;
      border-radius: 15px;
}
.blackbg{
  background-color: #000000;
  position: absolute;
  top: 17.96%;
  left: 0%;
  height: 82%;
  width: 100%;
}
.lable{
    padding: 10px;
    font-size: large;
    font-weight: bolder;
    color: #ffffff;
    background-color: #001aff;
    position: absolute;
    transform: rotate(40deg);
    top: 85%;
    width: 500px;
    left: -12%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: sans-serif;
  }
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}